.btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: small;
}

.mt-0 {
    margin-top: 100px !important;
}

.ml-5 {
    margin-left: 50px !important;
}

#form {
    margin-top: 50px;
    margin-left: 50px;
}